In [ ]:
! pip install pydrive 
import os
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# 1. Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)
local_download_path = os.path.expanduser('~/data')
try:
  os.makedirs(local_download_path)
except: pass
from google.colab import drive
drive.mount('/content/drive/',force_remount=True)

Requirement already satisfied: pydrive in /usr/local/lib/python3.6/dist-packages (1.3.1)
Requirement already satisfied: oauth2client>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from pydrive) (4.1.3)
Requirement already satisfied: PyYAML>=3.0 in /usr/local/lib/python3.6/dist-packages (from pydrive) (3.13)
Requirement already satisfied: google-api-python-client>=1.2 in /usr/local/lib/python3.6/dist-packages (from pydrive) (1.7.11)
Requirement already satisfied: pyasn1-modules>=0.0.5 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->pydrive) (0.2.8)
Requirement already satisfied: httplib2>=0.9.1 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->pydrive) (0.11.3)
Requirement already satisfied: six>=1.6.1 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->pydrive) (1.12.0)
Requirement already satisfied: pyasn1>=0.1.7 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->pydrive) (0.4.8)
Requirement already satisfied: rsa>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->pydrive) (4.0)
Requirement already satisfied: google-auth-httplib2>=0.0.3 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->pydrive) (0.0.3)
Requirement already satisfied: google-auth>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->pydrive) (1.7.2)
Requirement already satisfied: uritemplate<4dev,>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->pydrive) (3.0.1)
Requirement already satisfied: cachetools<3.2,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->pydrive) (3.1.1)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->pydrive) (45.1.0)
Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive/

In [ ]:
%cd 'drive/My Drive'

/content/drive/My Drive

In [ ]:
%cd darknet

/content/drive/My Drive/darknet

In [ ]:
import pandas as pd
import json

In [ ]:
#loading results of YOLOv3 Detection
with open('result_plates.json') as file:
    data = json.load(file)
df = pd.DataFrame(data)
df

     frame_id  ...                                            objects
0           1  ...  [{'class_id': 0, 'name': 'NumberPlate', 'relat...
1           2  ...  [{'class_id': 0, 'name': 'NumberPlate', 'relat...
2           3  ...  [{'class_id': 0, 'name': 'NumberPlate', 'relat...
3           4  ...  [{'class_id': 0, 'name': 'NumberPlate', 'relat...
4           5  ...                                                 []
..        ...  ...                                                ...
137       138  ...  [{'class_id': 0, 'name': 'NumberPlate', 'relat...
138       139  ...  [{'class_id': 0, 'name': 'NumberPlate', 'relat...
139       140  ...  [{'class_id': 0, 'name': 'NumberPlate', 'relat...
140       141  ...  [{'class_id': 0, 'name': 'NumberPlate', 'relat...
141       142  ...  [{'class_id': 0, 'name': 'NumberPlate', 'relat...

[142 rows x 3 columns]

In [ ]:
med=[]
def check(x):
    for y in x:
        if y['name']=="NumberPlate":
                    return True
    return False
df['plates']=df['objects'].transform(lambda temp:check(temp))

In [ ]:
df

     frame_id  ... plates
0           1  ...   True
1           2  ...   True
2           3  ...   True
3           4  ...   True
4           5  ...  False
..        ...  ...    ...
137       138  ...   True
138       139  ...   True
139       140  ...   True
140       141  ...   True
141       142  ...   True

[142 rows x 4 columns]

In [ ]:
df=df[df['plates']]

In [ ]:
df

     frame_id  ... plates
0           1  ...   True
1           2  ...   True
2           3  ...   True
3           4  ...   True
5           6  ...   True
..        ...  ...    ...
137       138  ...   True
138       139  ...   True
139       140  ...   True
140       141  ...   True
141       142  ...   True

[140 rows x 4 columns]

In [ ]:
df['filename']=df['filename'].transform(lambda f:f.split('/')[-1])
in_book=list(df['filename'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
%ls

3rdparty/     CMakeLists.txt          img2/                  README.md
appveyor.yml  darknet                 include/               result.json
backup/       darknet53.conv.74       json_mjpeg_streams.sh  result_plates.json
bad.list      DarknetConfig.cmake.in  LICENSE                results/
build/        darknet.py              Makefile               scripts/
build.ps1     darknet_video.py        net_cam_v3.sh          src/
build.sh      data/                   obj/                   valid.txt
cfg/          image_yolov2.sh         output.log             video_v2.sh
cmake/        image_yolov3.sh         predictions.jpg        video_yolov3.sh

In [ ]:
%cd data/

/content/drive/My Drive/darknet/data

In [ ]:
%cd ..

/content/drive/My Drive/darknet

In [ ]:
%cd img2/

/content/drive/My Drive/darknet/img2

In [ ]:
import subprocess
proc=subprocess.Popen('ls', shell=True, stdout=subprocess.PIPE, )
output=proc.communicate()[0]
output=output.decode('utf-8').split('\n')
output=list(output)

In [ ]:
p=set(output)-set(in_book)

In [ ]:
for x in p:
    %rm $x

rm: missing operand
Try 'rm --help' for more information.

In [ ]:
med=[]
def check2(x):
    for y in x:
        if y['name']=="NumberPlate":
                    return y
    return False
df['plate_data']=df['objects'].transform(lambda temp:check2(temp))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [ ]:
df

     frame_id  ...                                         plate_data
0           1  ...  {'class_id': 0, 'name': 'NumberPlate', 'relati...
1           2  ...  {'class_id': 0, 'name': 'NumberPlate', 'relati...
2           3  ...  {'class_id': 0, 'name': 'NumberPlate', 'relati...
3           4  ...  {'class_id': 0, 'name': 'NumberPlate', 'relati...
5           6  ...  {'class_id': 0, 'name': 'NumberPlate', 'relati...
..        ...  ...                                                ...
137       138  ...  {'class_id': 0, 'name': 'NumberPlate', 'relati...
138       139  ...  {'class_id': 0, 'name': 'NumberPlate', 'relati...
139       140  ...  {'class_id': 0, 'name': 'NumberPlate', 'relati...
140       141  ...  {'class_id': 0, 'name': 'NumberPlate', 'relati...
141       142  ...  {'class_id': 0, 'name': 'NumberPlate', 'relati...

[140 rows x 5 columns]

In [ ]:
df=df.drop(['frame_id','objects','plates'],axis=1)

In [ ]:
df['plate_data'][0]

{'class_id': 0,
 'confidence': 0.474979,
 'name': 'NumberPlate',
 'relative_coordinates': {'center_x': 0.49581,
  'center_y': 0.373569,
  'height': 0.024831,
  'width': 0.090576}}

In [ ]:
data=df

In [ ]:
def details(x,flag_2):
        co=x['relative_coordinates']
        wid=float(co['width'])/2.0
        hi=float(co['height'])/2.0
        if flag_2=='y2':
            return float(co['center_y'])+hi
        if flag_2=='x2':
            return float(co['center_x'])+wid
        if flag_2=='x1':
            return float(co['center_x'])-wid
        if flag_2=='y1':
            return float(co['center_y'])-hi
data['x1']=data['plate_data'].transform(lambda f:details(f,'x1'))    
data['y1']=data['plate_data'].transform(lambda f:details(f,'y1'))  
data['x2']=data['plate_data'].transform(lambda f:details(f,'x2'))  
data['y2']=data['plate_data'].transform(lambda f:details(f,'y2'))

In [ ]:
from PIL import Image
count=0
for x,y in data.iterrows():
        img = Image.open('/content/drive/My Drive/darknet/img2/'+str(y['filename']))
        dim=img.size
        w,h=dim[0],dim[1]
        x1=y['x1']*w
        x2=y['x2']*w
        y1=y['y1']*h
        y2=y['y2']*h
        area=(x1,y1,x2,y2)
        print(count)
        cropped_img = img.crop(area)
        cropped_img=cropped_img.convert('RGB')
        cropped_img.save("/content/drive/My Drive/darknet/im/"+str(x)+'.jpg')
        count+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139